node_modules/
pedbox-app-backend/node_modules/
pedbox-app-frontend/node_modules/
dist/
build/
pedbox-app-backend/dist/
pedbox-app-frontend/dist/
.env
.env.local
.env.*.local
!.env.example
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
coverage/
