# Server
PORT=3000
NODE_ENV=development

# PostgreSQL (debe coincidir exactamente con docker-compose.yml)
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=pedbox_user
DB_PASSWORD=Pedbox1708
DB_NAME=pedbox_db

# JWT
JWT_SECRET=JWT_SECRET #reemplazar con un JWT aleatorio
JWT_EXPIRES_IN=1d

# External API
RICK_AND_MORTY_API_URL=https://rickandmortyapi.com/api
